@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  body {
    @apply bg-clay-50 text-earth-800 antialiased min-h-screen flex flex-col;
  }
}

/* Custom subtle scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f5efe7;
}

::-webkit-scrollbar-thumb {
  background: #ceb298;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9c4123;
}
